@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Vitec.Models.ProductViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products[0].Name)
        </th>
    </tr>
    </thead>
    <tbody>
    @{
        int i = 0;
        foreach (var item in Model.Products)
        {
            i++;
            string idSpan = "dots" + i;
            string idButton = "button" + i;
            string idMore = "more" + i;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div>
                        <span id=@idSpan></span>
                        <span id=@idMore>
                            <table>
                                <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Name)
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </span>
                    </div>

                <button onclick="seePricesProducts('@Html.Encode(idSpan)', '@Html.Encode(idButton)', '@Html.Encode(idMore)')" id="@idButton">Se priser</button>
             </td>
            </tr>
        }
    }
    </tbody>
</table>


 